

@import '../../assets/scss/Variables.scss';



.top_header{
	border-bottom: .1rem solid $border-color;
	padding: .5rem 0;
	ul li{
		margin-right: 1rem;
		& a{
			font-size: .9rem;
			font-weight: 500;
			& svg{
				margin-right: .5rem;
				font-size: .7rem;
			}
		}
	}

}

.navbar-nav{
	a {
		font-size: .8rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-right: 1rem;
	}
}